/**
Code By Web Dev Trick ( https://webdevtrick.com )
For More Source Code Visit Our Blog ( https://webdevtrick.com )
**/
 
body, html {
    background: #ECEDEF;
    margin: 0;
    padding: 0;
  }

  body{
    background: url('./finance-accounting-paper-desk-using.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #000000c2;
    background-blend-mode: darken;
  }
   
  .container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff0d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
    /* border-radius: 14px; */
    padding-bottom: 20px;
    width: 320px;
    
  }
  .display {
    width: 100%;
    height: 60px;
    padding: 40px 0;
    background: #09080a91;
    /* border-top-left-radius: 14px;
    border-top-right-radius: 14px; */
  }
  .buttons {
    padding: 20px 20px 0 20px;
  }
  .row {
    width: 280px;
    float: left;
  }
  input[type=button] {
    width: 60px;
    height: 60px;
    float: left;
    padding: 0;
    margin: 5px;
    box-sizing: border-box;
    background: #2e251fab;
    border: none;
    font-size: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-weight: 700;
    color: #c8c0c0;
    cursor: pointer;
    
  }
  input[type=text] {
    width: 270px;
    height: 60px;
    float: left;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background: none;
    color: #ffffff;
    text-align: right;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    margin: 0 25px;
    
  }
  .red {
    background: #1f1d1c !important;
    color: #ffffff !important;
    
  }
  